* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    
}

/*header*/

#header {
    
    height: 100%;
	width: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
    
   
    
}

#border {
    
    margin: 0 auto;
    border-left: solid #989494 1px;
    border-top: solid #989494 1px;
    padding: 10px;
    height: 80%;
    box-sizing: border-box;
}

#logo {
    color: white;
    padding: 10px;
}

/*navigation*/

nav {
    float: left;
    width: 60%;
    font-family: myriad-pro, sans-serif;
    padding: 10px;
}

nav ul li {
    float: left;
    position: relative;
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #b2b0b0;
    text-transform: uppercase;
    font-size: 10pt;

    
}

nav li a:hover {
    color: #ffffff;
    font-weight: bold;
}

nav ul >li > ul {
    
    transform: scale(0);
    position: absolute;
    padding-left: 10px;   
}

nav ul li:hover >ul {
    
   transform: scale(1);
   transition: .3s;
   position: absolute;
        
}

.social {
    float: left;
    width: 200px;
    text-align: center;
    padding-top: 20px;
}

.social img {
    padding-right: 15px;
}

#phone {
    float: left;
    width: 15%;
    text-align: center;
    padding-top: 20px;
    color: #d7d7d7;
    font-size: 14pt;
}

/*title*/

#title {
    float: left;
    margin: 10% 5%;
    width: 100%;
}

#title h1 {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 6vh;
    color: #ffffff;
    text-shadow: 1px 1px 0px #6b6868, 1px 1px 0px #6b6868;
    line-height: normal;
    letter-spacing: 1px;
    
}

#title p {
    font-size: 12pt;
    color: #b6b3b3;
    margin-top: 5%;
    line-height: normal;
}

.arrow {
   position: absolute;
   top: 75%;
   left: 50%;
	
}



.btn {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background: #3a5ae0;
    opacity: 0.7;
    position: absolute;
    top: 85%;
    left: 45%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn:hover {
    opacity: 1;
}

.btn a {
    color: #ffffff;
    
    font-size: 12pt;
    text-decoration: none;
}

/*breadcrumbs*/

.breadcrumbs {
  list-style: none;
  margin-bottom: 60px;
  width: 100%;
  
  
}

.breadcrumbs li {
   
  display: inline;
  float: left;
  font-size: 10pt;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 15pt;
  color: hsl(0, 0%, 30%);
}

.breadcrumbs li a {
  display: block;
  padding: 0 20px 0 0px;
  color: blue;
  text-decoration: none;
  height: 20px;
  position: relative;
  
}

i {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



/*about index*/


#about {
   
   background-image:  url('../images/bg_about.png');
   background-repeat: repeat;
   padding-left: 12%;
   padding-right: 12%;
   padding-bottom: 5%;
   padding-top: 60px;
   
   box-sizing: border-box;
   float: left;
  
   
    
    
}

#about article {
    width: 80%;
    font-size: 16pt;
    line-height: 24pt;
    padding-bottom: 5%;
    color: #494848;
	
	
    
}

#about article h2 {
   
    font-family: 'Cinzel', serif;
    padding-bottom: 60px;
    font-size: 25pt;
    
    color: #3a251a;
    text-shadow: 1px 1px 0px #EEE, 1px 1px 0px #707070;
}



.video {
	float: left;
}


/*m2*/

#header_m2 {
    
    height: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
    
   
    
}

#about_m2 {
    background-image:  url('../images/bg_about.png');
   background-repeat: repeat;
   padding-left: 12%;
   padding-right: 12%;
   padding-bottom: 5%;
   padding-top: 60px;
   width: 100%;
   box-sizing: border-box;
   float: left;
}

#about_m2 img {
    padding-bottom: 20px;
}

#cours_offline {
    width: 40%;
    float: left;
}

#cours_online {
    width: 40%;
    float: right;
}

#about_m2 h2 {
    text-align: left;
    font-family: 'Cinzel', serif;
    padding-bottom: 40px;
    text-transform: uppercase;
   font-size: 25pt;
    text-shadow: 1px 1px 0px #EEE, 1px 1px 0px #707070;
    font-weight: 400;
}

#about_m2 h2 a {
  color: #3a251a;
  text-decoration: none;
}

#about_m2 h2 a:hover {
    font-weight: 600;
}

#about_m2 p a {
   
    color: #494848;
    text-decoration: none;
   
}

#about_m2 p a {
    font-size: 12pt;
    font-weight: 100;
    font-family: myriad-pro, sans-serif;
    text-transform: uppercase;
    
}

#about_m2 p a:hover {
   font-weight: 600;
   text-shadow: 1px 1px 0px #EEE, 1px 1px 0px #707070;
}

/*m2_sm1*/

#header_m2_sm1 {
    height: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg_m2_sm1.jpg'); /*bg_m3.jpg bg_m2_sm2.jpg bg_m2_sm1.jpg*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
}

/*m2_sm2*/

#header_m2_sm2 {
    
    height: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg_m2_sm2.jpg'); /*bg_m3.jpg bg_m2_sm2.jpg bg_m2_sm1.jpg*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
  
    
}



.cours {
 padding-bottom: 60px;
}

#about_m2 h3  {
  color: #3a251a;
  text-decoration: none;
  font-weight: 600;
  font-size: 20pt;
  font-family: 'Cinzel', serif;
  padding-bottom: 40px;
}

#about_m2 h4 {
  color: #3a251a;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Cinzel', serif;
  padding-top: 20px;
}

#about_m2 .cours a {
   
    color: blue;
    text-decoration: none;
   
}



#about_m2 p {
    font-size: 16pt;
    font-weight: 100;
    font-family: 'EB Garamond', serif;
    padding-top: 10px;
    line-height: 18pt;
    color: #494848;
    
}

span {
 font-weight: bold;
}

.right_content {
 text-align: right;
 width: 100%;
}

/*m3*/

#header_m3 {
    
    height: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg_m3.jpg'); /*bg_m3.jpg bg_m2_sm2.jpg bg_m2_sm1.jpg*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
  
    
}

#about_m3 {
   background-image:  url('../images/bg_about.png');
   background-repeat: repeat;
   padding-left: 12%;
   padding-right: 12%;
   padding-bottom: 5%;
   padding-top: 60px;
   width: 100%;
   box-sizing: border-box;
   float: left;
}

.proff_content {
	width: 70%;
	margin: 0 auto;
}

.about_proff {
 width: 30%;
 float: left;
 padding-top: 40px;
 
 
}



 .proff_content .about_proff:not(:last-child) {
   padding-right: 40px;
 }

.about_proff h5 {
 padding-top: 20px;
 color: #3a251a;
 font-family: 'Cinzel', serif;
 font-size: 16pt;
}

.about_proff p {
 color: #494848;
 padding-top: 10px;
 font-family: 'EB Garamond', serif;
 font-size: 12pt;
}

/*m4*/

#header_m4 {
	height: 100%;
	width: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg_m4.jpg'); /*bg_m3.jpg bg_m2_sm2.jpg bg_m2_sm1.jpg*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
}

#about_m4 {
   background-image:  url('../images/bg_about.png');
   background-repeat: repeat;
   padding-left: 12%;
   padding-right: 12%;
   padding-bottom: 5%;
   padding-top: 60px;
   width: 100%;
   box-sizing: border-box;
   float: left;
}

#table {
	margin: 0 auto;
	padding-top: 40px;
}

#table table {
	font-family: 'EB Garamond', serif;
	font-size: 12pt;
	border-spacing: 0;
	text-align: center;
	margin: 0 auto;
	}

#table table th {
	background: #3E91C0;
	
	color: #ccc6c6;
	font-weight: lighter;
	text-transform: uppercase;
	padding: 10px 40px;
	}

#table table th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: #c2bdbf;
	}

#table table th:first-child, td:first-child {
	text-align: left;
	}



#table table th:last-child {
	
	border-right: none;
	}

#table table td {
	padding: 10px 30px;
	
	color: #494848;
	}


#table table tr td:last-child {
	border-right: none;
	}

/*m5*/

#header_m5 {
	height: 100%;
	width: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg_m5.jpg'); /*bg_m3.jpg bg_m2_sm2.jpg bg_m2_sm1.jpg*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
}

#about_m5 {
   background-image:  url('../images/bg_about.png');
   background-repeat: repeat;
   padding-left: 12%;
   padding-right: 12%;
   padding-bottom: 5%;
   padding-top: 60px;
   width: 100%;
   box-sizing: border-box;
   float: left;
}

#gal_img_1 {
	width: 40%;
    float: left;
}

#gal_img_2 {
	width: 40%;
    float: right;
}

#about_m5 h3 {
    text-align: left;
    font-family: 'Cinzel', serif;
    padding-bottom: 40px;
    text-transform: uppercase;
   font-size: 20pt;
    text-shadow: 1px 1px 0px #EEE, 1px 1px 0px #707070;
    font-weight: 400;
}

#about_m5 h3 a {
  color: #3a251a;
  text-decoration: none;
}

#about_m5 h3 a:hover {
    font-weight: 600;
}





/*m5_sm1*/ /*m5_sm2*/

.hovergallery {
	margin: 0 auto;
}


.hovergallery img{
	 
	transition-duration: 0.5s; 
	margin-right: 5%;

	
}

@media (max-width: 1900px) {
 .hovergallery img {
	width: 19%;
	}
}



.hovergallery img:hover{
	transform:scale(1.2); 
	box-shadow:0px 0px 30px gray;
	
	
}


/*m6*/

#header_m6 {
	height: 100%;
	width: 100%;
    box-sizing: border-box;
    background-image:  url('../images/bg_m6.jpg'); /*bg_m3.jpg bg_m2_sm2.jpg bg_m2_sm1.jpg*/
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-left: 7%;
    padding-right:7%;
    float: left;
}

#about_m6 {
   background-image:  url('../images/bg_about.png');
   background-repeat: repeat;
   
   
   width: 100%;
   box-sizing: border-box;
   float: left;
}

#contact_m6 {
	padding-left: 12%;
   padding-right: 12%;
	padding-top: 60px;
	padding-bottom: 60px;
   
}

.map iframe {
	width: 100%;
	height: 250px;
	
	
}

.block_content_m6 {
	float: left;
	width: 30%;
	
}

.block_content_m6:not(:last-child){
	padding-right: 40px;
}

.block_content_m6 h3 {
	padding-bottom: 40px;
	color: #3a251a;
 	font-family: 'Cinzel', serif;
 	font-size: 16pt;
}

.block_content_m6 img {
	padding-right: 20px;
	padding-bottom: 60px;
}

#contact_m6 p {
	font-family: 'EB Garamond', serif;
	font-size: 14pt;	
	line-height: 21pt;
}






/*footer    #1a2128*/

footer {

   background: #1a2128;
   font-size: 14pt;
   font-family: myriad-pro, sans-serif;
   color: #d7d7d7;
   padding-top: 5%;
   padding-bottom: 3%;
   width: 100%;
  float: left;
}

 #footer_content {
    
    border-left: solid #989494 1px;
    border-bottom: solid #989494 1px;
    height: 230px;
    box-sizing: border-box;
    padding-left: 5%;
	margin-left: 7%;
	margin-right: 7%;
}



footer h3 {
   font-size: 14pt;
   font-weight: 300;
   text-transform: uppercase;
   width: 190px;
   color: #ffffff;
   text-align: center;
   font-family: 'EB Garamond', serif;
}

.footer_list {
   width: 40%;
   float: left;
   
   
}

footer ul {
   float: left;
   padding-right: 40px;
   padding-top: 20px;
   
   
}
footer ul li {
   list-style: none;
   padding-bottom: 10px;
   
}

footer ul li a {
   text-decoration: none;
   font-size: 12px;
   text-transform: uppercase;
   font-family: myriad-pro, sans-serif;
   color: #d7d7d7;

}

footer ul li a:hover {
   color: #ffffff;
   font-weight: bold;
}


#form_footer {
   float: left;
  
	width: 40%;
	
}

#form_footer h3 {
   margin-bottom: 20px;
}

.form_row {
   margin-bottom: 10px;
   overflow: hidden;
   
   
}

.form_row input {
   height: 25px;
   border: none;
   background: #979494;
   border-radius: 5px;
   width: 200px;
}

.form_row textarea {
   background: #979494;
   border-radius: 5px;
   width: 200px;
   height: 50px;
}

.form_row input[type=submit] {
    
    border: none;
    border-radius: 5px;
    background: #3a5ae0;
    opacity: 0.7;
    color: white;
   
   
}

.form_row input[type=submit]:hover {
   opacity: 1;
}

#social_footer {
   float: left;
   width: 20%;
   
}

#social_footer .social {
   width: 135px;
	padding-left: 35px;
}